<!--Ejecutador de submits específicos.-->
<script type="text/javascript">
  function submitform(){
    //alert(arguments[0]);
    document.getElementById("envioDatos"+arguments[0]).submit();
  }
</script>

{% extends "templates/baseOK.html" %}

{% block content %}

        <div class="uk-h1">
          Alumnos registrados
        </div>

        <ul class="uk-list uk-list-striped">
           {% for alumno in alumnos %}
            <li>
              <form id="envioDatos{{ alumno.nombre }}" action="/detallesAlumno" method="post">
                <input type="hidden" name="dniAlumno" value="{{ alumno.dni }}"/>
              </form>

              <a href="javascript: submitform('{{ alumno.nombre }}')">{{alumno.nombre}}</a>

              {{alumno.apellidos}}
            </li>
          {% endfor %}
        </ul>

{% endblock %}
