<!--Ejecutador de submits específicos.-->
<script type="text/javascript">
  function submitform(){
    //Alerta para depuración.
    //alert(arguments[0]);
    document.getElementById("envioDatos"+arguments[0]).submit();
  }
</script>

{% extends "templates/base.html" %}

{% block content %}


                     <div class="uk-h1">
                       Asignaturas registradas
                     </div>

                    <ul class="uk-list uk-list-striped">
                      {% for asignatura in asignaturas %}
                        <li>
                          <form id="envioDatos{{ asignatura.id }}" action="/detallesAsignatura" method="post">
                            <input type="hidden" name="idAsignatura" value="{{ asignatura.id }}"/>
                          </form>

                          <a href="javascript: submitform('{{ asignatura.id }}')">{{ asignatura.nombre }}</a>

                          {{ asignatura.id }}
                        </li>
                      {% endfor %}
                    </ul>


                    {% if mensaje=="eliminacion"%}
                    "Mensaje emergente avisando de que se ha eliminado" (Sólo se muestra cuando se viene de eliminar una)
                    {% endif %}



{% endblock %}
