
<!--
Fichero base que sirve de esqueleto para el resto de pestañas. Probablemente sea necesaria
una base para cada tipo de usuario, ya que tendrá un menú distinto, aunque por ahora sólo
contemplaremos el perfil de administrador.
-->
<html>
  <head>
    <title>SMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Cargamos la librería uikit-->
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.docs.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/uikit.tema1.css"/>
    <!--Cargamos la librería JQuery-->
    <script src="/static/jquery.js"></script>
    <!--Cargamos la librería JavaScript de uikit-->
    <script src="/static/js/uikit.min.js"></script>

        {% block head %}{% endblock %}

  </head>


  <body>
      

   <!-- Div principal de toda la pantalla -->
   <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

     <!--Deficinión de la barra de navegación -->
     <nav class="uk-navbar uk-margin-large-bottom"> <!--Definimos una barra de navegación-->

               <!--Definimos el contenido de la parte izquierda-->
               <ul class="uk-navbar-nav uk-hidden-small">
                   <li class="uk-active">
                       <a href="layouts_frontpage.html">Inicio</a>
                   </li>
                   <li>
                       <a href="/alumnos">Alumnos</a>
                   </li>
                   <li>
                       <a href="layouts_blog.html">Docencia</a>
                   </li>
                   <li>
                       <a href="layouts_contact.html">Ayuda</a>
                   </li>
               </ul>

               <!--Definimos el contenido de la parte derecha-->
               <div class="uk-navbar-flip">

                    <ul class="uk-navbar-nav uk-hidden-small">

                        <li class="uk-parent" data-uk-dropdown>
                            <a href="">{{userAlias}}<div class="uk-icon-user uk-icon-large uk-margin-left"></div></a>

                            <div class="uk-dropdown uk-dropdown-navbar">
                                <!--Creamo la lista de elementos que representan las opciones-->
                                <ul class="uk-nav uk-nav-navbar">
                                    <li><a href="#">Mi perfil</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#">Salir</a></li>
                                </ul>
                            </div>

                        </li>

                    </ul>

                </div>

               <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
               <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><!--Si queremos poner algo en la barra cuando se más pequeñan (movil/tablets)--></div>
     </nav>




    <!--####### Sección de adición de código en herencia #######

    Los siguientes ficheros html cargarán este fichero base.html y sobreescribirań la sección de content para
    especificar todo el contenido que esa sección deba ir en cada página en concreto.
    -->
    {% block content %}{% endblock %}
    <!-- ##########################################################  -->



  <!-- Footer -->
  <div class=" uk-slider-container">

    <div class="uk-container uk-container-center uk-text-center">

        <br>
        <br>

                 <div class="uk-panel">
                     <p>Granada @ Noviembre 2015</a>
                     </p>
                 </div>

        <br>
        <br>


  </div>

  </div>  <!-- fin footer -->

</div><!--Fin del primer div-->

  <!--Sección de definición del menú de navegación lateral que se abre en dispositivos menores-->
  <div id="offcanvas" class="uk-offcanvas">
              <div class="uk-offcanvas-bar">
                  <ul class="uk-nav uk-nav-offcanvas">
                      <li class="uk-active">
                          <a href="layouts_frontpage.html">Inicio</a>
                      </li>
                      <li>
                          <a href="layouts_portfolio.html">Estudiantes</a>
                      </li>
                      <li>
                          <a href="layouts_blog.html">Docencia</a>
                      </li>
                      <li>
                          <a href="layouts_documentation.html">Documentation</a>
                      </li>
                      <li>
                          <a href="layouts_login.html">{{userAlias}}</a>
                      </li>
                  </ul>
              </div>
          </div>


  </div>
  </body>


</html>
