<!--
HTML que define la herramienta controlEstudiantes
-->

<!--Cargamos el fichero base -->
{% extends "templates/baseOK.html" %}

{% block head %}
  <script src="/static/js/highcharts.js"></script>
  <!-- Incluimos el fichero accordion.js para que funcione el acordeon -->
  <script src="/static/js/components/accordion.js"></script>
{% endblock %}

<!--Escribimos en el bloque de contenido que hemos reservado en la plantilla de la que heredamos-->
{% block content %}

<h2>Control Estudiantes</h2>
<hr class="uk-grid-divider">

{% if general %}
        <div id="container" style="width:100%; height:400px;"></div>
        <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Historico de faltas semanal'
                },
                subtitle: {
                    text: 'Source: WorldClimate.com'
                },
                xAxis: {
                    categories: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes']
                },
                yAxis: {
                    title: {
                        text: 'Número de faltas'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'ESO',
                    data: [7.0, 6.9, 9.5, 14.5, 18.4]
                }, {
                    name: 'BACHILLERATO',
                    data: [3.9, 4.2, 5.7, 8.5, 11.9]
                }]
            });
        });
        </script>


        <br>
        <br>



        <div class="uk-grid" data-uk-grid-margin>

                        <!-- Primer tercio de la pantalla -->
                        <div class="uk-width-medium-1-3">
                            <!--Un grid interno -->
                            <div class="uk-grid">
                                <!--División de una séxtima parte.-->
                                <div class="uk-width-1-6">
                                    <!--Icono de la herramienta-->
                                    <i class="uk-icon-cog uk-icon-large uk-text-primary"></i>
                                </div>
                                <!-- División de cinco séxtimas partes -->
                                <div class="uk-width-5-6">
                                    <h2 class="uk-h3">Realizar control</h2>
                                    <p>Realiza el control de un grupo concreto en los que impartes clase.</p>
                                    <form class="uk-form" id="envioDatos" action="/controlEstudiantes" method="post">
                                      <button class="uk-button uk-button-primary" type="submit" name="nombreBoton" value="realizarControl">Acceder</button>
                                    </form>
                                </div>
                            </div> <!-- fin del grid interno -->
                        </div>

                        <!-- Segundo tercio de la pantalla -->
                        <div class="uk-width-medium-1-3">
                            <div class="uk-grid">
                                <div class="uk-width-1-6">
                                    <i class="uk-icon-thumbs-o-up uk-icon-large uk-text-primary"></i>
                                </div>
                                <div class="uk-width-5-6">
                                    <h2 class="uk-h3">Justificaciones</h2>
                                    <p>Realizar la justificación de una falta.</p>
                                    <button class="uk-button uk-button-primary" type="button">Justificar</button>
                                </div>
                            </div>
                        </div>

                        <!-- Tercer tercio de la pantalla -->
                        <div class="uk-width-medium-1-3">
                            <div class="uk-grid">
                                <div class="uk-width-1-6">
                                    <i class="uk-icon-cloud-download uk-icon-large uk-text-primary"></i>
                                </div>
                                <div class="uk-width-5-6">
                                    <h2 class="uk-h3">Historial</h2>
                                    <p>Puede comprobar el historial de controles realizados.</p>
                                    <button class="uk-button uk-button-primary" type="button">Historial</button>
                                </div>
                            </div>
                        </div>
        </div>



{% elif realizarControl %}

<i class="uk-icon-cog uk-icon-large uk-text-primary"> Ejecutar control </i>
<br>

{% if realizarControlMenu %}

<h4 class="uk-margin-top"> Seleccione un curso y grupo de la lista para realizar el control diario de estudiantes.</h4>

                            <div class="uk-accordion uk-margin-top" data-uk-accordion>

                                <h3 class="uk-accordion-title">3º ESO</h3>
                                <div class="uk-accordion-content">

                                  <div class="uk-grid">
                                    <div class="uk-width-medium-1-5">
                                        <div class="uk-panel uk-panel-box uk-margin-top uk-margin-bottom">
                                          <a href="#">A - Francés</a>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-5">
                                      <div class="uk-panel uk-panel-box uk-margin-top uk-margin-bottom">
                                        <a href="#">B - Francés</a>
                                      </div>
                                    </div>
                                  </div>

                                </div>

                                <h3 class="uk-accordion-title">4º ESO</h3>
                                <div class="uk-accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>

                                <h3 class="uk-accordion-title">1º BACH</h3>
                                <div class="uk-accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>

                                <h3 class="uk-accordion-title">2º BACH</h3>
                                <div class="uk-accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>

                            </div>

{% elif realizarControlActivo %}


{% endif %}





{% elif justificaciones %}


{% elif historial %}

{% endif %}


{% endblock %}
