<!--
Página de inicio de información sobre la aplicación. Como primera aproximación
donde se tiene información general y un enlace a login para loguearse en el sistema.
-->

<html>
  <head>
    <title>Sistema de Gestion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontpage layout example - UIkit documentation</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
    <link rel="stylesheet" href="css/uikit.docs.min.css">
    <script src="../vendor/jquery.js"></script>
    <script src="js/uikit.min.js"></script>


    <!--Cargamos la librería uikit-->
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.tema1.css"/>
    <!--
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.docs.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/docs.css"/>
  -->
    <!--Cargamos la librería JQuery-->
    <script src="/static/jquery.js"></script>
    <!--Cargamos la librería JavaScript de uikit-->
    <script src="/static/js/uikit.min.js"></script>
  </head>

  <body>

    <div class="uk-black-background uk-overflow-container">
      <!--Barra superior-->
      <nav class="uk-subnavbar uk-margin-top uk-margin-large-right uk-margin-bottom">

        <!--
        <a class="uk-navbar-brand uk-hidden-small"><img class="uk-margin uk-margin-remove" src="static/logo.jpg" width="90" height="30" title="UIkit" alt="UIkit"></a>
      -->

        <div class="uk-navbar-flip">
          <ul class="uk-subnav">
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class=" uk-text-contrast uk-text-center uk-flex uk-flex-center uk-flex-middle" data-uk-parallax="{bg: -400}" style="height: 350px; background-image: url('static/fondo2.jpg');">
        <div class="uk-width-medium-1-2" data-uk-parallax="{opacity: '0,4', scale: '4,5'}">
            <h1 class="uk-text-bold uk-text-muted">SMS</h1>
            <p class="uk-text-muted uk-text-large">Students Management System</p>
        </div>
    </div>




      <div class="uk-grid uk-container-center uk-margin-large-top uk-margin-large-bottom uk-margin-large-right uk-large-left" data-uk-grid-margin>


                      <div class="uk-width-medium-1-3">
                          <div class="uk-grid">
                              <div class="uk-width-1-6">
                                  <i class="uk-icon-cog uk-icon-large uk-text-primary"></i>
                              </div>
                              <div class="uk-width-5-6">
                                  <h2 class="uk-h3">Sistema modularizable</h2>
                                  <p>Cpacidad de adaptación a las características de cada centro.</p>
                              </div>
                          </div>
                      </div>

                      <div class="uk-width-medium-1-3">
                          <div class="uk-grid">
                              <div class="uk-width-1-6">
                                  <i class="uk-icon-thumbs-o-up uk-icon-large uk-text-primary"></i>
                              </div>
                              <div class="uk-width-5-6">
                                  <h2 class="uk-h3">Mejora continua</h2>
                                  <p>Sistema en continua mejora que ofrece en cada versión mejoras para la gestión de su centro.</p>
                              </div>
                          </div>
                      </div>

                      <div class="uk-width-medium-1-3">
                          <div class="uk-grid">
                              <div class="uk-width-1-6">
                                  <i class="uk-icon-cloud-download uk-icon-large uk-text-primary"></i>
                              </div>
                              <div class="uk-width-5-6">
                                  <h2 class="uk-h3">Documentación automática.</h2>
                                  <p>Descarga de documentos formateados en pdf fácil y simple.</p>
                              </div>
                          </div>
                      </div>



                      <div class="uk-width-medium-1-3">
                          <div class="uk-grid">
                              <div class="uk-width-1-6">
                                  <i class="uk-icon-dashboard uk-icon-large uk-text-primary"></i>
                              </div>
                              <div class="uk-width-5-6">
                                  <h2 class="uk-h3">Alto rendimiento</h2>
                                  <p>Sistema basado en microservicios que ofrecen gran escalibilidad y alto rendimiento.</p>
                              </div>
                          </div>
                      </div>

                      <div class="uk-width-medium-1-3">
                          <div class="uk-grid">
                              <div class="uk-width-1-6">
                                  <i class="uk-icon-comments uk-icon-large uk-text-primary"></i>
                              </div>
                              <div class="uk-width-5-6">
                                <h2 class="uk-h3">Sistema de mensajes</h2>
                                <p>Envíe mensaje sy alertas de forma interna a todo el personal de forma fácil y simple.</p>
                              </div>
                          </div>
                      </div>

                      <div class="uk-width-medium-1-3">
                          <div class="uk-grid">
                              <div class="uk-width-1-6">
                                  <i class="uk-icon-briefcase uk-icon-large uk-text-primary"></i>
                              </div>
                              <div class="uk-width-5-6">
                                  <h2 class="uk-h3">Sistema de mensajes</h2>
                                  <p>Envíe mensajes y alertas de forma interna a todo el personal de forma fácil y simple.</p>
                              </div>
                          </div>
                      </div>


          </div> <!--Fin de la sección de etiquetas-->


    <!--Footer -->
    <div class=" uk-slider-container uk-black-background">

      <div class="uk-container uk-container-center uk-text-center">

          <br>
          <br>

                   <div class="uk-panel">
                       <p>Desarrollado por <a href="http://www.yootheme.com">ButterFly Devs</a>
                       </p>
                   </div>

          <br>
          <br>


    </div>

  </div>  <!-- fin footer -->


  </body>


</html>
