<!--
Página de lógin del sistema que da acceso con las credenciales adecuadas al
sistema en si, concretado para Juan XVIII
-->
<html>
  <head>
    <title>Sistema de Gestion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontpage layout example - UIkit documentation</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
    <link rel="stylesheet" href="css/uikit.docs.min.css">
    <script src="../vendor/jquery.js"></script>
    <script src="js/uikit.min.js"></script>


    <!--Cargamos la librería uikit-->
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.tema1.css"/>
    <!--
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.docs.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/docs.css"/>
  -->
    <!--Cargamos la librería JQuery-->
    <script src="/static/jquery.js"></script>
    <!--Cargamos la librería JavaScript de uikit-->
    <script src="/static/js/uikit.min.js"></script>
  </head>

  <body class="uk-height-1-1" style=" background-image: url('static/fondo2.jpg');">

        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class="uk-vertical-align-middle" style="width: 250px;">

                <img class="uk-margin-bottom" width="140" height="120" src="static/users.png" alt="">

                <form id="login" method="post" class="uk-panel uk-panel-box uk-form">
                    <div class="uk-form-row">
                        <input name="nombreusuario" class="uk-width-1-1 uk-form-large" type="text" placeholder="Usuario">
                    </div>
                    <div class="uk-form-row">
                        <input name="passusuario" class="uk-width-1-1 uk-form-large" type="text" placeholder="Contraseña">
                    </div>
                    <div class="uk-form-row">
                        <!-- Forma que venía por defecto en el form
                        <a type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">Login</a>
                        -->
                        <input type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" value="Login" name="user-action-login">
                    </div>
                    <div class="uk-form-row uk-text-small">
                        <label class="uk-float-left"><input type="checkbox"> Remember Me</label>
                        <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password?</a>
                    </div>
                </form>
                {% if errorLogin %}
                  <div class="uk-alert uk-alert-danger">Error de login</div>
                {% endif %}

            </div>
        </div>

    </body>


</html>
