*.pyc
google_appengine/
.coverage
SMS-Back-End/dbms/lib
SMS-Back-End/dbms/dbapi/productionCloudSQLInstanceINFO.py
SMS-Back-End/dbms/docs/build/

SMS-Back-End/sce/lib/
SMS-Back-End/sce/docs/build

SMS-Back-End/apigms/lib/
SMS-Back-End/apigms/docs/build/

SMS-Front-End/anotaciones.md

_site/

lines.txt
