---
layout: default
---
<!-- Define como se ve la sección de blog -->
<article id="main">
    <header class="special container">
        <span class="icon fa-book"></span>
        <h2><strong>Devs Blog</strong></h2>
        <p>
          El blog de los desarrolladores de SMS. <strong>Tecnología</strong>, <strong>despliegue</strong>, <strong>desarrollo</strong> y toda
          la información relacionada con el proyecto.
        </p>
    </header>
    <section class="wrapper style4 container">


        <h2>Oups! Aún no tenemos contenido :(</h2>


        <!-- Activar cuando haya post que mostrar
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.excerpt }}
                <section class="special">
                    <ul class="buttons">
                        <li><a href="{{ post.url }}" class="button">Read more</a></li>
                    </ul></section>
            </li>
          {% endfor %}
        </ul>
        -->
    </section>
</article>
