
<!--
Diseño de la vista de la pestaña de detalles del estudiante.
-->

<!--Añadimos el CSS y el javascript necesarios para poder usar las notificaciones flotantes -->
<link type="text/css" rel="stylesheet" href="app/css/components/notify.gradient.css" />
<script type="text/javascript" src="app/js/components/notify.js"></script>
<div class="uk-grid">

    <!--En la primera sección ponemos la imagen del usuario usando la url de este -->
    <div class="uk-width-medium-1-4 uk-margin-top">
      <!--src={{es.link_foto}}-->
      <img class="uk-border-circle"  width="150" height="150" src=http://maitegarcianieto.com/Fotos/Cine/Eduardo%20Manostijeras/Eduardo%20Manostijeras-7.jpg alt="">
    </div>

    <!-- En la segunda sección TODOS sus datos, junto a su diseño con el kit de CSS-->
    <div class="uk-width-medium-2-4 uk-margin-top ">

            <h2>{{profesor.nombre}} {{profesor.apellidos}}</h2>

            <ul class="uk-list uk-list-line">
                  <li>DNI: {{profesor.dni}} </li>
                  <li>Fecha nacimiento: {{profesor.fecha_nacimiento}}</li>
                  <li>Localidad: {{profesor.localidad}}</li>
                  <li>Provincia: {{profesor.provincia}}</li>
                  <li>Direccion: {{profesor.direccion}}</li>
                  <li>Teléfono: {{profesor.telefono}}</li>
            </ul>

      </div>

    <!-- En la tercera sección los botones de eliminar y modificar alumno -->
    <div class="uk-wdith-1-4 uk-margin-top" >

      <!--Botón de modificación, que es un enlace a la vista de modificación del usuario. -->
      <a ui-sref="estudiantes.modificacion-profesor({ profesorID: profesor.id })" class="uk-icon-edit uk-icon-hover uk-icon-medium "></a>

      <!--Botón que abre un menú que pide la confirmación de la eliminación del alumno -->
      <a class="uk-icon-trash uk-icon-hover uk-icon-medium "  id="openModal" ></a>

      <!--Definición del mensaje flotante que se muestra -->
      <div id="Modal" class="uk-modal" aria-hidden="true">
        <div class="uk-modal-dialog uk-modal-dialog">
          ¿Está seguro de quere eliminar al profesor?
          <hr>
          <!-- LA implementación de la acción asociada al botón puede estar en el script incluido abajo o
          en el propio app.js para poder usar el scope.-->
          <button id="DelButton" ng-click="delProfesor()" class="uk-button uk-button-danger">Eliminar</button>
          <button id="CancelButton" class="uk-button uk-button-success">Cancel</button>

        </div>
      </div>
      <!-- FIN DEL MENSAJE flotante-->

      <!--Inclusión del fichero donde se implementa la lógica en JavaScript del modal -->
      <script src="js/especiales/modalEliminacionUsuario.js"></script>


    </div>

</div>


<!--Botón que abre la sección desplegable que muestra los datos académicos -->
<div class="uk-margin-top">

    <!--Añadimos el estilo, que además ha sido modificado para personalizarlo -->
    <link type="text/css" rel="stylesheet" href="app/css/components/accordion.gradient.css" />
    <!--Añadimos la interactividad con JavaScript -->
    <script type="text/javascript" src="app/js/components/accordion.min.js"></script>

    <!--Definimos el acordeon de las secicones menores -->
    <div class="uk-accordion" data-uk-accordion="{collapse:false, showfirst:false}">

        <h3 class="uk-accordion-title"><i class="uk-icon-book uk-icon-medium"></i> Datos académicos </a></h3>
        <div class="uk-accordion-content">

          <div class="uk-grid">

            <div class="uk-width-1-3">
                <h4>Estudiantes</h4>
                <hr>
                <!--Si el vector está vacío se muestra un mensaje.-->
                <li ng-show="!estudiantes.length"><p class="uk-text-muted">Aún no hay alumnos matriculados en esta asignatura.</p></li>
                <li ng-repeat="alumno in estudiantes">
                  <a ui-sref="estudiantes.detalles-estudiante({ estudianteID: alumno.id })">{{ alumno.nombre }} {{alumno.apellidos}}</a>
                </li>
            </div>


            <div class="uk-width-1-3">
                <h4>Clases</h4>
                <hr>
                <li ng-show="!clases.length"><p class="uk-text-muted">Aún no hay clases en las que se imparta esta asignatura.</p></li>
                <li ng-repeat="clase in clases">
                  <a ui-sref="clases.detalles-clase({ claseID: clase.id })">{{ clase.curso }}  {{ clase.grupo }}  {{ clase.nivel }}</a>
                </li>
            </div>


            <div class="uk-width-1-3">
                <h4>Asignaturas</h4>
                <hr>
                <li ng-show="!asignaturas.length"><p class="uk-text-muted">Aún no se encuentra matriculado en ninguna asignatura.</p></li>
                <li ng-repeat="asignatura in asignaturas">
                    <a ui-sref="asignaturas.detalles-asignatura({ asignaturaID: asignatura.id })">{{ asignatura.nombre }}</a>
                </li>
            </div>

          </div>

        </div>

        <!--
        <h3 class="uk-accordion-title">Title 2</h3>
        <div class="uk-accordion-content">content two</div>

        <h3 class="uk-accordion-title">Title 3</h3>
        <div class="uk-accordion-content">content three</div>
        -->
    </div>

</div>
