<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<div flex ng-controller="teachersListController as vm">



    <h1 class="md-display-1">Profesores</h1>
    <p class="md-body-1">Todos los profesores del sistema.</p>


<!-- table wrapper -->
                <md-card style="background-color: #FFFFFF;>

                    <!-- toolbar for the table -->
                    <md-toolbar class="md-table-toolbar md-default">

                        <!-- search -->
                        <md-card-title>
                            <md-card-title-text>

                                <md-input-container>
                                    <md-icon>search</md-icon>
                                    <!-- layout="" to avoid parent layout -->
                                    <label layout="">"Buscar"</label>
                                    <input type="text" ng-model="vm.query">
                                </md-input-container>


                            </md-card-title-text>
                        </md-card-title>
                    </md-toolbar>


                    <!-- Teachers list table -->
                    <md-table-container>

                        <table md-table md-progress="vm.promise">
                            <thead md-head md-order="vm.sortField" md-on-reorder="vm.onReorder">
                            <tr md-row>
                                <th md-column><span>Imagen</span></th>
                                <th md-column md-order-by="name"><span>Nombre</span></th>
                                <th md-column><span>Perfil</span></th>
                            </tr>
                            </thead>

                            <tbody md-body>

                                <!-- Where we iterate through items list -->
                                <tr md-row ng-repeat="item in vm.teachersList">

                                    <!-- 1. User profile image -->
                                    <td md-cell>

                                        <div ng-switch="item.img || '_undefined_'">
                                            <img ng-switch-when="_undefined_" class="img-profile" src="{{ vm.defaultAvatar }}">
                                            <img ng-switch-default class="img-profile" src="{{ item.img }}">
                                        </div>


                                    </td>

                                    <!-- 2. If user has a name, we prefer show this, but if doesn't have then we show their email.-->
                                    <td md-cell>
                                        <div ng-switch="item.name || '_undefined_'">
                                            <span ng-switch-when="_undefined_">{{ item.email }}</span>
                                            <!-- Isn't important if he has surname-->
                                            <span ng-switch-default>{{ item.name }} {{ item.surname }}</span>
                                        </div>
                                    </td>

                                     <!-- 3. Go to profile button -->
                                    <td md-cell>
                                        <md-button ui-sref="teachersProfile({teacherId: item.teacherId})" class="md-fab md-mini md-primary">
                                            <md-icon>forward</md-icon>
                                        </md-button>
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </md-table-container>

                    <md-table-pagination md-limit="vm.limit"
                                         md-page="vm.page" md-total="{{vm.data.total}}"
                                         md-page-select md-boundary-links md-on-paginate="vm.onPaginate">
                    </md-table-pagination>

                </md-card>


</div>