<!-- Banner principal, con la imagen de fondo (que se especifica en los css pero que con que se llame banner.jpg sirve).-->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>SMS</h2>
        </header>
        <p>Esto es <strong>SMS</strong>, agilizador de procesos
        <br />
        para centros docentes.
        <br />
        Desarrollado por <a href="https://github.com/ButterFlyDevs/">ButterFlyDevs</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Cuéntame más</a></li>
            </ul>
        </footer>

    </div>

</section>
