<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/ButterFlyDevs" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <!--<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>-->
        <li><a href="https://plus.google.com/u/1/115979727115516613181" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="https://github.com/ButterFlyDevs" class="icon circle fa-github"><span class="label">Github</span></a></li>
        <!--<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>-->
    </ul>

    <ul class="copyright">
        <li>Un proyecto desarrollado por el equipo de <a href="#">&copy; ButterFlyDevs</a></li>
    </ul>

</footer>
