<p class="uk-h2">Registro de un nuevo estudiante </p>
<hr>

{{respuesta}}

<!-- Definición del formulario de inscripción de un nuevo estudiantes -->
<form class="uk-form">

    <fieldset data-uk-margin>
        <!-- Campo nombre -->
        <input type="text" placeholder="Nombre" ng-model="alumno.nombre">
        <!-- Campo apellidos -->
        <input type="text" placeholder="Apellidos" ng-model="alumno.apellidos">

        <br class="uk-margin-bottom">
        <!-- Campo direccion -->
        <input type="text" placeholder="Dirección" ng-model="alumno.direccion">
        <!-- Campo localidad -->
        <input type="text" placeholder="Localidad" ng-model="alumno.localidad">

        <br class="uk-margin-bottom">
        <!-- Campo provincia -->
        <input type="text" placeholder="Provincia" ng-model="alumno.provincia">
        
        <!-- Campo fecha nacimiento -->
        <input type="text" placeholder="Fecha Nacimiento" ng-model="alumno.fechaNacimiento">

        <br class="uk-margin-bottom">
        <!-- Campo telefono -->
        <input type="text" placeholder="Teléfono" ng-model="alumno.telefono">
        <!-- Campo DNI -->
        <input type="text" placeholder="DNI" ng-model="alumno.dni">


        <!-- Botón de enviar
        Esepecificamos la función (en este caso addAlumno()) que se llama al presionar el botón.
        Esta función está definida en el controlador que carga esta plantilla.
        -->
        <br class="uk-margin-top">
        <button class="uk-button" ng-click="addAlumno()">Enviar</button>
        <br class="uk-margin-top">
    </fieldset>

</form>
