<md-dialog ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <md-icon>add</md-icon>
                Nuevo Control de Asistencia
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">


            <small>1. Seleccione el profesor que va a realizar el control.</small>

            <!-- Teacher autocomplete -->
            <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.teacherSelected"
                    md-search-text-change="vm.searchTextChange(vm.teacherSearchText)"
                    md-search-text="vm.teacherSearchText"
                    md-selected-item-change="vm.selectedItemChange(item, 'teacher')"
                    md-items="item in vm.itemQuerySearch(vm.teacherSearchText, 'teacher')"
                    md-item-text="vm.itemToString(item, 'teacher')"
                    md-min-length="0"
                    placeholder="Profesor"
                    md-menu-class="autocomplete-custom-template">

                <md-item-template>
                      <span>
                          <!--
                        <div ng-switch="item.profileImageUrl || '_undefined_'">
                            <img ng-switch-when="_undefined_" class="img-profile" src="{{ vm.defaultAvatar }}">
                            <img ng-switch-default class="img-profile" src="{{ item.profileImageUrl }}">
                        </div>-->
                        <img class="img-profile" src="{{ vm.defaultAvatar }}">
                        <span> {{item.name}}  {{item.surname}}</span>

                      </span>
                </md-item-template>

            </md-autocomplete>


            </br>


            <small ng-if="vm.teacherSelected">2. Seleccione la asignatura.</small>

            <!-- Subject autocomplete -->
            <md-autocomplete
                    ng-if="vm.teacherSelected"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.subjectSelected"
                    md-search-text-change="vm.searchTextChange(vm.subjectSearchText)"
                    md-search-text="vm.subjectSearchText"
                    md-selected-item-change="vm.selectedItemChange(item, 'subject')"
                    md-items="item in vm.itemQuerySearch(vm.subjectSearchText, 'subject')"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="Asignatura"
                    md-menu-class="autocomplete-custom-template">

                <md-item-template><span> {{item.name}}</span></md-item-template>

            </md-autocomplete>


            </br>

            <small ng-if="vm.teacherSelected && vm.subjectSelected">3. Seleccione el grupo.</small>

            <!-- Class automplete -->
            <md-autocomplete
                    ng-if="vm.teacherSelected && vm.subjectSelected"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.classSelected"
                    md-search-text-change="vm.searchTextChange(vm.classSearchText)"
                    md-search-text="vm.classSearchText"
                    md-selected-item-change="vm.selectedItemChange(item, 'class')"
                    md-items="item in vm.itemQuerySearch(vm.classSearchText, 'class')"
                    md-item-text="vm.itemToString(item, 'class')"
                    md-min-length="0"
                    placeholder="Grupo"
                    md-menu-class="autocomplete-custom-template">

                <md-item-template> <span> {{item.course}}  {{item.word}}  {{item.level}} </span> </md-item-template>

            </md-autocomplete>


        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="" ng-click="vm.closeDialog()">
            Cancelar
        </md-button>
        <md-button class="md-primary md-raised" ng-disabled="!vm.okToRealize" ng-click="vm.goToDoAC()"
                   style="margin-right:20px;">
            Realizar
        </md-button>
    </md-dialog-actions>


</md-dialog>