{% extends "templates/base.html" %}

{% block content %}

  <script>
    function submitform(){
      //Entre paréntesis introducimos el id del elemento que queremos hacer submit
      //alert(arguments[0])
      document.getElementById(arguments[0]).submit();
    }
  </script>

  <br>

  <div class="uk-block uk-block-muted">
     <div class="uk-container">
     <h2>{{ asignatura.nombre }}</h2>

         <div class="uk-grid uk-grid-match" data-uk-grid-margin>
             <div class="uk-width-medium-1-3">
                 <div class="uk-panel">
                   <div class="uk-text-muted"> {{ asignatura.id }} </div>
                 </div>
             </div>
             <div class="uk-width-medium-1-3">
                 <img class="uk-align-medium-right" src="" alt="">
             </div>
         </div>
     </div>
 </div>

 <br>


 <!-- Menú inferior de opciones -->
     <form id="profesores" action="/detallesAsignatura" method="post">
       <!--Para que la página completa cargue bien le pasamos el tipo de datos que queremos mostrar y el dni del profesor-->
       <input type="hidden" name="tipo" value="profesores"/>
       <input type="hidden" name="idAsignatura" value="{{asignatura.id}}"/>
     </form>
     <form id="alumnos" action="/detallesAsignatura" method="post">
       <!--Para que la página completa cargue bien le pasamos el tipo de datos que queremos mostrar y el dni del profesor-->
       <input type="hidden" name="tipo" value="alumnos"/>
       <input type="hidden" name="idAsignatura" value="{{asignatura.id}}"/>
     </form>

     <!--Para acceder a la sección de herramientas -->
     <form id="herramientas" action="/detallesAsignatura" method="post">
       <!--Pasamos "herramientas" en la variable tipo -->
       <input type="hidden" name="tipo" value="herramientas"/>
       <!--Seguimos pasando la asignatura con la que estamos trabajando -->
       <input type="hidden" name="idAsignatura" value="{{asignatura.id}}"/>
     </form>

     <ul class="uk-tab" >

       {% if profesores %}
        <li class="uk-active">
       {% else %}
        <li class="uk-disable">
       {% endif %}
         <a href="javascript: submitform('profesores')">Profesores</a>
       </li>

       <!--La clase usada depende de si esa pesataña está seleccionada o no para que de esa sensación de selección en la vista-->
       {% if alumnos %}
        <li class="uk-active">
       {% else %}
        <li class="uk-disable">
       {% endif %}
         <a href="javascript: submitform('alumnos')">Alumnos</a>
       </li>

       {% if herramientas %}
        <li class="uk-active">
       {% else %}
        <li class="uk-disable">
       {% endif %}
         <a class="uk-icon-cog" href="javascript: submitform('herramientas')"></a> <!--Sin texto, sólo queremos que se vea el icono-->
       </li>

     </ul>
<!-- Fin menu inferir de opciones -->

<!--Si se han pasado alumnos a la plantilla los vamos a listar -->
{% if profesores %}
       <br>
       <div class="uk-text-muted">Profesores que imparten la asignatura {{ asignatura.nombre }} :</div>
       <!--Para listarlos recorremos la lista de objetos pasada-->
       <ul class="uk-list uk-list-line">
         {% for profesor in profesores %}
           <li>{{ profesor.nombre }}  {{ profesor.apellidos }} </li>
         {% endfor %}
       </ul>
{% endif %}

<!--Si se han pasado alumnos a la plantilla los vamos a listar -->
{% if alumnos %}
       <br>
       <div class="uk-text-muted">Alumnos matriculados en la asignatura {{ asignatura.nombre }} :</div>
       <!--Para listarlos recorremos la lista de objetos pasada-->
       <ul class="uk-list uk-list-line">
         {% for alumno in alumnos %}
           <li>{{ alumno.nombre }}  {{ alumno.id }} </li>
         {% endfor %}
       </ul>
{% endif %}


<!-- If tools -->
{% if herramienta %}

  <!--Forms ocultos para enviar información por post, un poco cutre pero por ahora lo hacemos así.-->
  <form id="herramienta1" action="/detallesAsignatura" method="post">
    <!--Para que la página completa cargue bien le pasamos el tipo de datos que queremos mostrar y el dni del profesor-->
    <input type="hidden" name="tipo" value="herramientas"/>
    <input type="hidden" name="tipoHerramienta" value="mat"/>
    <input type="hidden" name="idAsignatura" value="{{asignatura.id}}"/>
  </form>

  <form id="herramienta2" action="/detallesAsignatura" method="post">
    <!--Para que la página completa cargue bien le pasamos el tipo de datos que queremos mostrar y el dni del profesor-->
    <input type="hidden" name="tipo" value="herramientas"/>
    <input type="hidden" name="tipoHerramienta" value="desmat"/>
    <input type="hidden" name="idAsignatura" value="{{asignatura.id}}"/>
  </form>

  <form id="herramienta3" action="/detallesAsignatura" method="post">
    <!--Para que la página completa cargue bien le pasamos el tipo de datos que queremos mostrar y el dni del profesor-->
    <input type="hidden" name="tipo" value="herramientas"/>
    <input type="hidden" name="tipoHerramienta" value="del"/>
    <input type="hidden" name="idAsignatura" value="{{asignatura.id}}"/>
  </form>

  <br>

  <div class="uk-grid">
  <!--Primera sección del grid: MENU de OPCIONES-->
  <div class="uk-width-medium-3-10">
    <ul class="uk-nav uk-nav-side">

        {% if herramienta == "mat" %}
          <li class="uk-active">
        {% else %}
          <li>
        {% endif %}
          <a href="javascript: submitform('herramienta1')">Matricular Alumnos</a>
        </li>

        {% if herramienta == "desmat" %}
          <li class="uk-active">
        {% else %}
          <li>
        {% endif %}
          <a href="javascript: submitform('herramienta2')">Desmatricular alumnos</a>
        </li>

        {% if herramienta == "del" %}
          <li class="uk-active">
        {% else %}
          <li>
        {% endif %}
          <a href="javascript: submitform('herramienta3')" class="uk-text-danger" href="#">Eliminar asignatura</a>
        </li>


    </ul>

  </div>

    {% if herramienta == "mat" %}
    <!--Segunda sección del grid: Detalles de SECCIÓN-->
    <div class="uk-width-medium-6-10">
        En esta sección podrá matricular a cualquier alumno del sistema en esta asignatura,
        a continuación se muestran todos los estudiantes registrados no matricualdos en {{asignatura.nombre}} : {{asignatura.id}} .

        <div class="uk-alert uk-alert-success" data-uk-alert>
          <a href="#" class="uk-alert-close uk-close"></a>
          <p>Esta funcionalidad está en fase de desarrollo.</p>
        </div>

    </div>



    {% endif %}


    {% if herramienta == "desmat" %}
    <!--Segunda sección del grid: Detalles de SECCIÓN-->
    <div class="uk-width-medium-6-10">
        Sección de DESMATRICULACIÓN de alumnos
        <!--Para listarlos recorremos la lista de objetos pasada-->

        <div class="uk-alert uk-alert-success" data-uk-alert>
          <a href="#" class="uk-alert-close uk-close"></a>
          <p>Esta funcionalidad está en fase de desarrollo.</p>
        </div>

    </div>



    {% endif %}

    {% if herramienta == "del" %}
    <!--Segunda sección del grid: Detalles de SECCIÓN-->
    <div class="uk-width-medium-6-10">
        ELIMINACIÓN DE ASIGNATURA
        <!--Para listarlos recorremos la lista de objetos pasada-->

        <div class="uk-alert uk-alert-success" data-uk-alert>
          <a href="#" class="uk-alert-close uk-close"></a>
          <p>Esta funcionalidad está en fase de desarrollo.</p>
        </div>


        <br>
        <button class="uk-button-danger" data-uk-modal="{target:'#modal6'}">Borrar Asignatura</button>

        <!--Implementación del menú emergente de confirmación de elminación de asignatura -->

        <form id="borradoAsignatura" action="/detallesAsignatura" method="post">
          <!--Para que la página completa cargue bien le pasamos el tipo de datos que queremos mostrar y el dni del profesor-->
          <input type="hidden" name="tipo" value="borradoAsignatura"/>
          <input type="hidden" name="idAsignatura" value="{{asignatura.id}}"/>
        </form>


        <div id="modal6" class="uk-modal">
            <div class="uk-modal-dialog">
                <button type="button" class="uk-modal-close uk-close"></button>

                <div class="uk-modal-header">
                    <h2>Eliminación de asignatura</h2>
                </div>
                <p>
                  ¿Esta seguro de querer borrar la asignatura del sistema?. Si lo hace, no borrará a los estudiantes
                  ni a los profesores que están relacionados pero si su relación a esta asignatura. Si desea volver
                  al estado anterior deberá registrar la asignatura y añadir tanto profesores que la impartan como
                  los alumnos que la cursen.
                  Pulse aceptar para confirmar el borrado o calcelar para volver atrás.
                </p>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="uk-button uk-modal-close">Cancelar</button>
                    <button type="submit" class="uk-button uk-button-danger" form="borradoAsignatura">Borrar</button>

                    <!--
                    Aquí tendremos que llamar a post para que borre la asignatura con el id de la asignatura que estamos manejando.
                    -->

                </div>
            </div>
        </div>



    </div>

    {% endif %}




  </div><!--Fin de la división del grid-->


  {% if herramienta == "mat" %}
      <div class="uk-grid">
                <!--Primera sección del grid: MENU de OPCIONES-->
                <div class="uk-width-medium-5-10">
                    <!--Para listarlos recorremos la lista de objetos pasada-->
                    <br>
                    Todos los estudiantes
                    <br>
                    <ul class="uk-list uk-list-line">
                      {% for alumno in alumnosParaMatricular %}
                        <!--Añadimos un icono antes del nombre y el dni del alumno -->
                        <li>
                          <div class="uk-icon-child uk-icon-medium"></div> {{ alumno.nombre }}  {{ alumno.dni }} Matricular
                        </li>
                      {% endfor %}
                    </ul>

                    <br>
                </div>

                <div class="uk-width-medium-5-10">
                    <!--Para listarlos recorremos la lista de objetos pasada-->
                    <br>
                    Estudiantes matriculados en {{asignatura.nombre}}
                    <br>
                    <ul class="uk-list uk-list-line">
                      {% for alumno in alumnosParaMatricular %}
                        <!--Añadimos un icono antes del nombre y el dni del alumno -->
                        <li>
                          <div class="uk-icon-child uk-icon-medium"></div> {{ alumno.nombre }}  {{ alumno.dni }}
                        </li>
                      {% endfor %}
                    </ul>

                    <br>
                </div>
    </div><!--Fin del subgrid-->
    {% endif %}

{% endif %}




{% endblock %}
