{% extends "templates/base.html" %}

{% block content %}

  <script>
    function submitform(){
      //Entre paréntesis introducimos el id del elemento que queremos hacer submit
      document.getElementById(arguments[0]).submit();
    }
  </script>

  <br>

  <div class="uk-block uk-block-muted">
     <div class="uk-container">
     <h2>{{ profesor.nombre }}</h2>

         <div class="uk-grid uk-grid-match" data-uk-grid-margin>
             <div class="uk-width-medium-1-3">
                 <div class="uk-panel">
                   <div class="uk-text-muted"> {{ profesor.apellidos }} </div>
                   <div class="uk-text-muted"> {{ profesor.dni }} </div>
                   <div class="uk-text-muted"> {{ profesor.domicilio }} </div>
                 </div>
             </div>
             <div class="uk-width-medium-1-3">
                 <img class="uk-align-medium-right" src="" alt="">
             </div>
         </div>
     </div>
 </div>

 <br>
 <form id="alumnos" action="/detallesProfesor2" method="post">
   <!--Para que la página completa cargue bien le pasamos el tipo de datos que queremos mostrar y el dni del profesor-->
   <input type="hidden" name="tipo" value="alumnos"/>
   <input type="hidden" name="dniProfesor" value="{{profesor.dni}}"/>
 </form>

 <ul class="uk-tab" >
   <li class="uk-active"><a href="javascript: submitform('alumnos')">Alumnos</a></li>
   <li class="uk-disabled"><a href="javascript: submitform()">Asignaturas</a></li>
 </ul>




 <!--Si se han pasado alumnos a la plantilla los vamos a listar -->
 {% if alumnos %}

        <br>
        <div class="uk-text-muted">Alumnos a los que imparte clase {{ profesor.nombre }} :</div>
        <!--Para listarlos recorremos la lista de objetos pasada-->
        <ul class="uk-list uk-list-line">
          {% for alumno in alumnos %}
            <li>{{ alumno.nombre }}  {{ alumno.apellidos }} </li>
          {% endfor %}
        </ul>
{% endif %}


{% endblock %}
