{% extends "templates/base.html" %}

{% block content %}

    <!--Script de validación del formulario-->
    <script type="text/javascript">


    function valida(f){
      valor = document.formularioRegistro.nombre.value;

      if(valor.length != 0){
        alert(valor);
      }else{
        document.getElementById("nombre2").innerHTML='<input id="nombre" name="nombre" type="text" placeholder="Debes introducir tu nombre">'
      }
    }

    </script>

     <br>

      <form name="formularioRegistro" action="/registroalumnos" method="post" class="uk-form">

      <fieldset data-uk-margin>

          <legend>Registro de alumno</legend>


          <input id="nombre" name="nombre" type="text" placeholder="Nombre">
          <input name="apellidos" type="text" placeholder="Apellidos">
          <input name="dni" type="text" placeholder="DNI">
          <br>
          <input name="municipio" type="text" placeholder="Municipio">
          <input name="provincia" type="text" placeholder="Provincia">
          <br>
          <input name="domicilio" type="text" placeholder="Domicilio">
          <input name="correo" type="text" placeholder="Correo Electrónico">
          <br>
          <input name="telefono" type="text" placeholder="Nº Teléfono">
          <br>
          <button type="submit" class="uk-button-primary" onclick="valida(this)" >Registrar</button

      </fieldset>


{% endblock %}
