
<!--
Diseño de la vista de la pestaña de detalles del estudiante.
-->
<!--Añadimos el CSS y el javascript necesarios para poder usar las notificaciones flotantes -->
<link type="text/css" rel="stylesheet" href="app/css/components/notify.gradient.css" />
<script type="text/javascript" src="app/js/components/notify.js"></script>

<!--Título de la sección -->
<h3>Modificación de la clase</h3>
<hr>

<form class="uk-form" name="formModificacionClase" ng-submit="submitFormModAsignatura()" novalidate>

     <fieldset data-uk-margin>

        <!-- Campo curso -->
        <input type="text" placeholder={{clase.curso}} name="curso" ng-class="{ 'uk-form-danger' : formNuevaClase.curso.$invalid && !formNuevaClase.$pristine }" ng-minlength="1"   ng-model="clase.curso" required>

        <!-- Campo grupo -->
        <input type="text" placeholder={{clase.grupo}} name="grupo" ng-class="{ 'uk-form-danger' : formNuevaClase.grupo.$invalid && !formNuevaClase.$pristine }" ng-minlength="1"  ng-model="clase.grupo" required>

        <!-- Campo nivel -->
        <input type="text" placeholder={{clase.nivel}} name="nivel" ng-class="{ 'uk-form-danger' : formNuevaClase.nivel.$invalid && !formNuevaClase.$pristine }" ng-minlength="3"  ng-model="clase.nivel" required>

        <!-- Mensajes de error -->
        <p ng-show="formNuevaClase.nombre.$error.minlength" class="uk-text-danger"><i class="uk-icon-info-circle"></i>   El nombre es demasiado corto.</p>



        <!-- Botón de enviar
        Este botón responde a la función definida en el controlador con el nombre puesto en ng-submit, en este caso:submitForm()
        -->
        <br class="uk-margin-bottom">

        <!--Añadimos el CSS y el javascript necesarios para poder usar las notificaciones flotantes -->
        <link type="text/css" rel="stylesheet" href="app/css/components/notify.gradient.css" />
        <script type="text/javascript" src="app/js/components/notify.js"></script>


        <br class="uk-margin-top">
    </fieldset>

<style>
input.submitted.ng-invalid
{
  border:1px solid #f00;
}
</style>





    </div>
  </div>

  <br>
  <button type="submit" class="uk-button"  data-message="Success message..." data-status="success" ng-class="{ 'uk-button-success' : !formModificacionAsignatura.$invalid }" ng-disabled="formModificacionAsignatura.$invalid">Modificar</button>
  <a ui-sref="asignaturas.list" class="uk-button uk-button-danger">Cancelar</a>

</form>
