<p class="uk-h2">Registro de una nueva clase</p>
<hr>

<!-- Definición del formulario de inscripción de un nuevo estudiantes -->
<!-- Usamos no validate para hacer que sea angular quien haga todo el trabajo -->

<form class="uk-form" name="formNuevaClase" ng-submit="submitForm()" novalidate>

     <fieldset data-uk-margin>

        <!-- Campo curso -->
        <input type="text" placeholder="Curso" name="curso" ng-class="{ 'uk-form-danger' : formNuevaClase.curso.$invalid && !formNuevaClase.$pristine }" ng-minlength="1"   ng-model="clase.curso" required>

        <!-- Campo grupo -->
        <input type="text" placeholder="Grupo" name="grupo" ng-class="{ 'uk-form-danger' : formNuevaClase.grupo.$invalid && !formNuevaClase.$pristine }" ng-minlength="1"  ng-model="clase.grupo" required>

        <!-- Campo nivel -->
        <input type="text" placeholder="Nivel" name="nivel" ng-class="{ 'uk-form-danger' : formNuevaClase.nivel.$invalid && !formNuevaClase.$pristine }" ng-minlength="3"  ng-model="clase.nivel" required>

        <!-- Mensajes de error -->
        <p ng-show="formNuevaClase.nombre.$error.minlength" class="uk-text-danger"><i class="uk-icon-info-circle"></i>   El nombre es demasiado corto.</p>



        <!-- Botón de enviar
        Este botón responde a la función definida en el controlador con el nombre puesto en ng-submit, en este caso:submitForm()
        -->
        <br class="uk-margin-bottom">

        <!--Añadimos el CSS y el javascript necesarios para poder usar las notificaciones flotantes -->
        <link type="text/css" rel="stylesheet" href="app/css/components/notify.gradient.css" />
        <script type="text/javascript" src="app/js/components/notify.js"></script>

        <button type="submit" class="uk-button"  data-message="Success message..." data-status="success" ng-class="{ 'uk-button-success' : !formNuevaClase.$invalid }" ng-disabled="formNuevaClase.$invalid">Submit</button>

        <br class="uk-margin-top">
    </fieldset>
</form>
<style>
input.submitted.ng-invalid
{
  border:1px solid #f00;
}
</style>


{{respuesta}}
