<!--

 estudiantes-lista.html

Plantilla de diseños que crea la lista de los estudiantes que el controlador nos proporciona.

 -->

  <!--
  <h2>Lista de ejemplo</h2>
  <ul class="uk-list-line">
      <li ng-repeat="empleado in nuestrosEmpleados">{{ empleado }}</li>
  </ul>
  -->


  <h2>Clases en el sistema.</h2>
  <ul class="uk-list-line">
      <!-- Mostramos todos los alumnos cargados por el controlador, convirtiendo cada uno además
      en un enlace a la ventana propia del estudiante, además pasamos el identificador  como parámetro en la URL-->
      <li ng-repeat="clase in clases">
        <!--Doc en : https://github.com/angular-ui/ui-router/wiki/Quick-Reference#ui-sref -->
        <a ui-sref="clases.detalles-clase({ claseID: clase.id })">{{ clase.curso }}  {{ clase.grupo }}  {{ clase.nivel }}</a>
      </li>
  </ul>

<!--
Algo así debería quedar con la información bien formateada en pantalla
  <h2>ESO</h2>
  <hr>

  <h2>Bachillerato</h2>
  <hr>
      <h3>Primero</h3>

      <h3>Segundo</h3>
-->
