<!--

 estudiantes-lista.html

Plantilla de diseños que crea la lista de los estudiantes que el controlador nos proporciona.

 -->

  <!--
  <h2>Lista de ejemplo</h2>
  <ul class="uk-list-line">
      <li ng-repeat="empleado in nuestrosEmpleados">{{ empleado }}</li>
  </ul>
  -->


  <h2>Clases en el sistema.</h2>
  <ul class="uk-list-line">
      <!-- Mostramos todos los alumnos cargados por el controlador, convirtiendo cada uno además
      en un enlace a la ventana propia del estudiante, además pasamos el identificador  como parámetro en la URL-->
      <li ng-repeat="clase in clases">
        <!--Doc en : https://github.com/angular-ui/ui-router/wiki/Quick-Reference#ui-sref -->
        <a ui-sref="clases.detalles-clase({ claseID: clase.id })">{{ clase.curso }}  {{ clase.grupo }}  {{ clase.nivel }}</a>
      </li>
  </ul>


  Se cagar todas las clases pero en lugar de mostrarse como una lista con poco sentido se formatean  de
  forma jerárquica en pantalla.

  De la misma forma en las matriculaciones se puede matricular en una asignatura en concreto que se da en una clase
  1ºAESO-Francés o en todo 1ºAESO donde se hace la matriculación de todas las asignaturas que se dan en 1ºAESO.

  Todo el procesamiento se hace a nivel de apiGateway o a nivel de interfaz, se verá.

  <h2>Bachiller</h2>

      <h3>Primero</h3>

      <h3>Segundo</h3>


  <h2>ESO</h2>

  <h2>Primaria</h2>
