
<!--
Diseño de la vista de la pestaña de detalles del estudiante.
-->
<!--Añadimos el CSS y el javascript necesarios para poder usar las notificaciones flotantes -->
<link type="text/css" rel="stylesheet" href="app/css/components/notify.gradient.css" />
<script type="text/javascript" src="app/js/components/notify.js"></script>
<div class="uk-grid">

    <!-- En la segunda sección TODOS sus datos, junto a su diseño con el kit de CSS-->
    <div class="uk-width-2-4 uk-margin-top ">

            <h2>{{clase.curso}}   {{clase.grupo}}   {{clase.nivel}}</h2>
            <hr>
            <div class="uk-margin-left">
              <strong>{{estudiantes.length}}</strong> Estudiantes  |  <strong>{{profesores.length}}</strong> Profesores  |   <strong>{{asignaturas.length}}</strong> Asignaturas
            </div>

    </div>

    <!-- En la tercera sección los botones de eliminar y modificar la clase -->
    <div class="uk-wdith-1-4 uk-margin-top" >

      <!--Botón de modificación, que es un enlace a la vista de modificación de la clase. -->
      <a ui-sref="clases.modificacion-clase({ claseID: clase.id })" class="uk-icon-edit uk-icon-hover uk-icon-medium "></a>
      <a ui-sref="asignaturas.modificacion-asignatura({ asignaturaID: asignatura.id })" class="uk-icon-edit uk-icon-hover uk-icon-medium "></a>

      <!--Botón que abre un menú que pide la confirmación de la eliminación del alumno -->
      <a class="uk-icon-trash uk-icon-hover uk-icon-medium " data-uk-modal="{target:'#Modal'}" ></a>

      <!--DISEÑO DEL MODAL -->

          <!--Definición del mensaje que se muestra -->
          <div id="Modal" class="uk-modal" aria-hidden="true">
            <div class="uk-modal-dialog uk-modal-dialog">
              ¿Está seguro de quere eliminar la clase?
              <hr>
              <!-- LA implementación de la acción asociada al botón puede estar en el script incluido abajo o
              en el propio app.js para poder usar el scope.-->
              <button id="DelButton" ng-click="delClase(clase)" class="uk-button uk-button-danger">Eliminar</button>
              <button id="CancelButton" class="uk-button uk-button-success uk-modal-close " >Cancel</button>

            </div>
          </div>

      <!--Fin DISEÑO MODAL -->

      <!--Inclusión del fichero donde se implementa la lógica en JavaScript del modal -->
      <script>
        var eventHandlerType = (UIkit.support.touch) ? 'tap' : 'click',
          modalA = UIkit.modal('#Modal', {
            bgclose: false
          });

        console.log('manejadorEventosModal: ' + eventHandlerType);

        $('#DelButton').on(eventHandlerType, function(e) {
          console.log("Modal: eliminación de clase.")
          e.preventDefault();
          //Oculta el modal
          modalA.hide();
        });

      </script>

    </div>

</div>


<!--Botón que abre la sección desplegable que muestra los datos académicos -->
<div class="uk-margin-top">

    <!--Añadimos el estilo, que además ha sido modificado para personalizarlo -->
    <link type="text/css" rel="stylesheet" href="app/css/components/accordion.gradient.css" />
    <!--Añadimos la interactividad con JavaScript -->
    <script type="text/javascript" src="app/js/components/accordion.min.js"></script>

    <!-- Definimos el acordeon de las secicones menores -->
    <div class="uk-accordion" data-uk-accordion="{collapse:false, showfirst:false}">

        <h3 class="uk-accordion-title"><i class="uk-icon-book uk-icon-small"></i>  General</a></h3>
        <div class="uk-accordion-content">

          <div class="uk-grid">

            <div class="uk-width-1-3">
                <h4>Estudiantes</h4>

                <!--Linea divisoria gris --> <hr>

                <!--Mostramos el mensaje "Aún no hay estudiantes" cuando el vector esté vacío. -->
                <li ng-show="!estudiantes.length"><p class="uk-text-muted">Aún no hay estudiantes inscritos en esa clase.</p></li>

                <li ng-repeat="alumno in estudiantes">
                  <a ui-sref="estudiantes.detalles-estudiante({ estudianteID: alumno.id })">{{ alumno.nombre }} {{alumno.apellidos}}</a>
                </li>

            </div>

             <div class="uk-width-1-3">
                <h4>Profesores</h4>
                <hr>

                <li ng-show="!profesores.length"><p class="uk-text-muted">Aún no hay profesores inscritos en esa clase.</p></li>
                <li ng-repeat="profesor in profesores">
                  <a ui-sref="profesores.detalles-profesor({ profesorID: profesor.id })">{{ profesor.nombre }} {{profesor.apellidos}} </a>
                </li>

            </div>

            <div class="uk-width-1-3">
                <h4>Asignaturas</h4>
                <hr>
                <li ng-show="!asignaturas.length"><p class="uk-text-muted">Aún no hay asignaturas inscritas en esa clase.</p></li>
                <li ng-repeat="asignatura in asignaturas">
                  <a ui-sref="asignaturas.detalles-asignatura({ asignaturaID: asignatura.id })">{{ asignatura.nombre }}</a>
                </li>

            </div>


          </div>

        </div>

        <!--
        <h3 class="uk-accordion-title">Title 2</h3>
        <div class="uk-accordion-content">content two</div>

        <h3 class="uk-accordion-title">Title 3</h3>
        <div class="uk-accordion-content">content three</div>
        -->
    </div>

    <!-- Definición el acordeon de la SECCIÓN DE GESTIÓN -->
    <div class="uk-accordion" data-uk-accordion="{collapse:false, showfirst:false}">

        <h3 class="uk-accordion-title"><i class="uk-icon-cog uk-icon-small"></i>   Específico</a></h3>
        <div class="uk-accordion-content">



          <ul ng-repeat="asociacion in asociaciones">


            <div class="uk-panel uk-panel-box">
              <h3 class="uk-panel-title"><strong>{{ asociacion.nombreAsignatura}}</strong> <small> ({{clase.curso}} {{clase.grupo}} {{clase.nivel}}) </small></h3>
              <hr>

              <div class="uk-grid">
                <div class="uk-width-1-2">
                  <strong>Profesores</strong>
                </div>
                <div class="uk-width-1-2 uk-text-right">
                  <!--Botón de apertura del modal para añadir un nuevo profesor a esta asociación.-->
                  <a style="none;"  data-uk-modal="{target:'#modalProfesores'}" ng-click="cargarProfesores(asociacion.idAsociacion)"><i style="color: gray;" class="uk-icon-plus uk-icon"></i></a>
                </div>
              </div>

              <hr>

                  <p ng-show="!asociacion.listaProfesores.length" class="uk-text-muted uk-margin-left">Aún no hay profesores asignados.</p>
                  <ul ng-repeat="profesor in asociacion.listaProfesores" style="list-style: none;">
                     <li>{{profesor.nombre}} {{profesor.apellidos}}
                     <a style="none;" data-uk-modal="{target:'#modalEliminacionProfesorAsociacion'}">
                        <i style="color: gray;" class="uk-icon-trash uk-icon"></i>
                     </a>
                     <!--Definición del modal que añade profesor a esta especificación de una asignatura a una clase.
                        Como se trata de algo específico del profesor debemos definir el modal aquí para que pueda
                        coger el nombre del profesor del que estamos hablando.
                     -->
                     <div id="modalEliminacionProfesorAsociacion" class="uk-modal" aria-hidden="true">
                       <div class="uk-modal-dialog uk-modal-dialog">
                         ¿Está seguro de quiere que {{profesor.nombre}} {{profesor.apellidos}} deje de impartir {{asociacion.nombreAsignatura}} en {{clase.curso}} {{clase.grupo}} {{clase.nivel}} ?
                         <hr>
                         <!-- LA implementación de la acción asociada al botón puede estar en el script incluido abajo o
                         en el propio app.js para poder usar el scope.-->
                         <button id="delImparte" ng-click="delImparte(profesor.idImparte)" class="uk-button uk-button-danger">Eliminar</button>
                         <button id="CancelButton" class="uk-button uk-button-success uk-modal-close " >Cancel</button>

                       </div>
                     </div>
                     <!--Añadimos el script necesario para que se cierre el modal al pulsar el botón de Eliminar -->
                     <script>
                       var eventHandlerType = (UIkit.support.touch) ? 'tap' : 'click',
                         modalDelImparte = UIkit.modal('#modalEliminacionProfesorAsociacion', {
                           bgclose: false
                         });
                       console.log('manejadorEventosModal: ' + eventHandlerType);

                       $('#delImparte').on(eventHandlerType, function(e) {
                         console.log("push delImparte.")
                         e.preventDefault();
                         //Oculta el modal
                         modalDelImparte.hide();
                       });

                     </script>
                     </li>
                  </ul>



                  <!-- Fin de la definición -->

                  <!--Definición del modal que confirma la eliminación de la asignación del profesor en cuestión a esta asociación Asignatura-Clase -->
                  <div id="modalProfesores" class="uk-modal">
                    <div class="uk-modal-dialog">

                             <button type="button" class="uk-modal-close uk-close"></button>

                             <!--CABECERA-->
                             <div class="uk-modal-header">
                                 <h2>Profesores disponibles</h2>
                             </div>

                             <!--CUERPO-->
                             <p>Seleccione una profesore que desee que imparta {{asociacion.nombreAsignatura}} en {{clase.curso}}   {{clase.grupo}}   {{clase.nivel}}</p>
                             <!--Creamos un formulario desde donde extraeremos la información y especificamos la función que responderá a el. -->
                             <form class="uk-form" name="formSeleccionProfesor" >
                               <li ng-repeat="profesor in profesores">
                                 <label><input type="checkbox" ng-model="profesor.selected" value="{{profesor.id}}"> {{ profesor.nombre }} {{profesor.apellidos}}</label>
                               </li>


                             <!--PIE-->
                             <div class="uk-modal-footer uk-text-right">
                                 <button type="button" class="uk-button uk-modal-close">Cancelar</button>
                                 <button id="asignarProfesor" ng-click="asignar()"  type="button" class="uk-button uk-button-primary">Asignar</button>
                                 <!--ng-click="asociar(clase.id)"-->
                             </div>

                             </form>
                    </div>
                  </div>
                  <!--Fin de la definición del modal-->


                  <script>
                    var eventHandlerType = (UIkit.support.touch) ? 'tap' : 'click',
                      modal = UIkit.modal('#modalProfesores', {
                        bgclose: false
                      });

                    console.log('manejadorEventosModal: ' + eventHandlerType);

                    $('#asignarProfesor').on(eventHandlerType, function(e) {
                      console.log("asignaruProfesor: Eliminación en modalEliminacionUsuario.")
                      e.preventDefault();
                      //Oculta el modal
                      modal.hide();
                    });

                  </script>


                  <div class="uk-grid">
                    <div class="uk-width-1-2">
                      <strong>Estudiantes</strong>
                    </div>
                    <div class="uk-width-1-2 uk-text-right">
                      <!--Botón de apertura del modal para añadir un nuevo alumno a esta asociación.-->
                      <a style="none;"  data-uk-modal="{target:'#modalAlumnos'}" ng-click="cargarAlumnos(asociacion.idAsociacion)" class="uk-margin-left"><i style="color: gray;" class="uk-icon-plus uk-icon"></i></a>
                    </div>
                  </div>


                  <hr>
                  <p ng-show="!asociacion.listaAlumnos.length" class="uk-text-muted uk-margin-left">Aún no hay estudiantes matriculados.</p>
                  <ul ng-repeat="alumno in asociacion.listaAlumnos" style="list-style: none;">
                     <li>{{alumno.nombre}} {{alumno.apellidos}}
                     <a style="none;" data-uk-modal="{target:'#modalEliminacionAlumnoAsociacion'}">
                        <i style="color: gray;" class="uk-icon-trash uk-icon"></i>
                     </a>

                     <!--Definición del modal que añade profesor a esta especificación de una asignatura a una clase.
                        Como se trata de algo específico del profesor debemos definir el modal aquí para que pueda
                        coger el nombre del profesor del que estamos hablando.
                     -->
                     <div id="modalEliminacionAlumnoAsociacion" class="uk-modal" aria-hidden="true">
                       <div class="uk-modal-dialog uk-modal-dialog">
                         ¿Está seguro de quiere desmatricular a {{alumno.nombre}} {{alumno.apellidos}} de {{asociacion.nombreAsignatura}} en {{clase.curso}} {{clase.grupo}} {{clase.nivel}} ?
                         <hr>
                         <!-- LA implementación de la acción asociada al botón puede estar en el script incluido abajo o
                         en el propio app.js para poder usar el scope.-->
                         <button id="delMatricula" ng-click="delMatricula(alumno.idMatricula)" class="uk-button uk-button-danger">Eliminar</button>
                         <button id="CancelButton" class="uk-button uk-button-success uk-modal-close " >Cancel</button>

                       </div>
                     </div>
                     <!--Añadimos el script necesario para que se cierre el modal al pulsar el botón de Eliminar -->
                     <script>
                       var eventHandlerType = (UIkit.support.touch) ? 'tap' : 'click',
                         modalDelMatricula = UIkit.modal('#modalEliminacionAlumnoAsociacion', {
                           bgclose: false
                         });
                       console.log('manejadorEventosModal: ' + eventHandlerType);

                       $('#delMatricula').on(eventHandlerType, function(e) {
                         console.log("push delMatricula.")
                         e.preventDefault();
                         //Oculta el modal
                         modalDelMatricula.hide();
                       });

                     </script>
                     </li>
                  </ul>

                  <!--Definición del modal que añade alumnos a esta especificación de una asignatura a una clase -->
                     <div id="modalAlumnos" class="uk-modal">
                       <div class="uk-modal-dialog">

                                <button type="button" class="uk-modal-close uk-close"></button>

                                <!--CABECERA-->
                                <div class="uk-modal-header">
                                    <h2>Alumnos disponibles</h2>
                                </div>

                                <!--CUERPO-->
                                <p>Seleccione un alumno que desee matricular de {{asociacion.nombreAsignatura}} en {{clase.curso}} {{clase.grupo}} {{clase.nivel}}</p>
                                <!--Creamos un formulario desde donde extraeremos la información y especificamos la función que responderá a el. -->
                                <form class="uk-form" name="formSeleccionAlumno"  >
                                  <li ng-repeat="alumno in alumnos">
                                    <label><input type="checkbox" ng-model="alumno.selected" value="{{alumno.id}}"> {{ alumno.nombre }} {{alumno.apellidos}}</label>
                                  </li>


                                <!--PIE-->
                                <div class="uk-modal-footer uk-text-right">
                                    <button type="button" class="uk-button uk-modal-close">Cancelar</button>
                                    <button id="matricularAlumno" ng-click="matricular()"  type="button" class="uk-button uk-button-primary">Matricular</button>
                                    <!--ng-click="asociar(clase.id)"-->
                                </div>

                                </form>
                       </div>
                     </div>
                  <!-- Fin de la definición -->

                  <script>
                    var eventHandlerType = (UIkit.support.touch) ? 'tap' : 'click',
                      modalC = UIkit.modal('#modalAlumnos', {
                        bgclose: false
                      });

                    console.log('manejadorEventosModal: ' + eventHandlerType);

                    $('#matricularAlumno').on(eventHandlerType, function(e) {
                      console.log("matricularAlumno: Matricular.")
                      e.preventDefault();
                      //Oculta el modal
                      modalC.hide();
                    });

                  </script>

                </div> <!-- Div final del panel -->

          </ul>



          <ul>
            <div class="uk-panel uk-panel-box">
              <!--Botón que abre un menú para añadir una especificación de una asignatura a esta clase -->
              <a style="none;"  data-uk-modal="{target:'#modalAsignatura'}" ng-click="cargarAsignaturas()"><i style="color: green;" class="uk-icon-plus uk-icon-medium"></i>  Añadir asignatura</a>
            </div>
          </ul>

           <!--Creamos el modal y lo asociamos a un controlador para que sea quien carge las asignaturas -->
           <div id="modalAsignatura" class="uk-modal">
             <div class="uk-modal-dialog">

                      <button type="button" class="uk-modal-close uk-close"></button>

                      <!--CABECERA-->
                      <div class="uk-modal-header">
                          <h2>Asignaturas disponibles</h2>
                      </div>

                      <!--CUERPO-->
                      <p>Seleccione una asignatura que desee que se imparta en {{clase.curso}}   {{clase.grupo}}   {{clase.nivel}}</p>
                      <!--Creamos un formulario desde donde extraeremos la información y especificamos la función que responderá a el. -->
                      <form class="uk-form" name="formSeleccionAsignatura"  >
                        <li ng-repeat="asignatura in asignaturas">
                          <label><input type="checkbox" ng-model="asignatura.selected" value="{{asignatura.id}}"> {{ asignatura.nombre }}</label>
                        </li>

                      <!--PIE-->
                      <div class="uk-modal-footer uk-text-right">
                          <button type="button" class="uk-button uk-modal-close">Cancelar</button>
                          <button id="addAsignatura" ng-click="asociar()"  type="button" class="uk-button uk-button-primary">Añadir</button>
                          <!--ng-click="asociar(clase.id)"-->
                      </div>

                      </form>
             </div>
           </div>

           <script>
             var eventHandlerType = (UIkit.support.touch) ? 'tap' : 'click',
               modalD = UIkit.modal('#modalAsignatura', {
                 bgclose: false
               });

             console.log('manejadorEventosModal: ' + eventHandlerType);

             $('#addAsignatura').on(eventHandlerType, function(e) {
               console.log("matricularAlumno: Matricular.")
               e.preventDefault();
               //Oculta el modal
               modalD.hide();
             });

           </script>



        </div>

    </div>

</div>
