# This requirements file lists all third-party dependencies for this project.
# Este fichero de requerimientos lista todas las dependencias de terceros para este proyecto.
#
# Ejecute 'pip install -r requirements.txt -t lib/' para instalar estas dependencias
# en el subdirectorio `lib/` .
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.

#Instalamos el cliente de python de Cloud Storage de GAE
GoogleAppEngineCloudStorageClient
Flask==0.10
Flask-Testing>=0.4.1
unittest2>=0.5
jsonpickle
termcolor
requests
requests-toolbelt



