<md-dialog ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <md-icon>add</md-icon>
                Añadir docencia
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Asignatura</label>
                <md-select ng-model="vm.subjectSelected"
                           ng-change="vm.checkRelationSelected(vm.subjectSelected, vm.classSelected)">
                    <md-option
                            ng-repeat="item in vm.subjectsList"
                            value="{{item.subjectId}}">
                        {{item.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Grupo</label>
                <md-select ng-model="vm.classSelected"
                           ng-change="vm.checkRelationSelected(vm.subjectSelected, vm.classSelected)">
                    <md-option
                            ng-repeat="item in vm.classesList"
                            value="{{item.classId}}">
                        {{item.level}}
                        {{item.course}}
                        {{item.word}}
                    </md-option>
                </md-select>
            </md-input-container>


        </div>


        <div ng-if="!vm.associationRelationExists">
            <p>La relación entre la asignatura y la clase no existe.</p>
            ¿Deséa crearla al mismo tiempo que asignas a un profesor?
            <md-checkbox ng-model="vm.createNewAssociationCheckboxValue"
                         aria-label="Checkbox 1"
                         ng-click="vm.addButtonEnable = !vm.createNewAssociationCheckboxValue">

            </md-checkbox>

        </div>

        <div ng-if="vm.associationImpartExists">
            <p>Este profesor ya imparte clase de esta asignatura a este grupo.</p>
        </div>


    </md-dialog-content>


    <md-dialog-actions layout="row">

        <span flex></span>

        <md-button ng-click="vm.closeDialog()"> Cancelar </md-button>

        <md-button ng-disabled="!vm.addButtonEnable"
                   class="md-primary md-raised"
                   style="margin-right:20px;"
                   ng-click="vm.saveRelation()"> Añadir
        </md-button>

    </md-dialog-actions>

</md-dialog>