<div flex ng-controller="studentsProfileController as vm">


    <div layout="row" layout-align="center" ng-cloak>
        <div flex="90" layout-padding>
            <div layout="row" layout-align="space-between start">
                <md-button class="md-primary md-raised"
                           ui-sref="students">
                    <md-icon>keyboard_arrow_left</md-icon>
                    Atras
                </md-button>
            </div>


            <div ng-if="vm.student == null">
                Oups! Parece que este estudiante no existe.
            </div>

            <md-card ng-if="vm.student != null" layout="column" layout-margin layout-padding>


                <form name="studentUpdateForm">
                    <!-- We can see the layout like a row -->
                    <div layout="row" flex flex="70" layout-align="center">

                        <!-- First column, with a image inside. -->
                        <div flex="40" layout="column" layout-margin layout layout-align="center center">
                            <div ng-switch="vm.user.img || '_undefined_'">
                                <img ng-switch-when="_undefined_" class="img-profile-big" src="{{ vm.defaultAvatar }}">
                                <img ng-switch-default class="img-profile-big" src="{{ vm.user.img }}">
                            </div>

                            <div layout="row">
                                <md-button class="md-primary md-fab md-mini" aria-label="Update photo">
                                    <md-icon>replay</md-icon>
                                </md-button>

                                <md-button class="md-primary md-fab md-mini" aria-label="Remove photo">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </div>

                        </div>

                        <!-- Second column, with user data inside. -->
                        <div flex="60" layout="column">

                            <div layout layout-sm="column">
                                <md-input-container flex="70">
                                    <label layout="">Nombre</label>
                                    <input ng-model="vm.student.name" required>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex="70">
                                    <label layout="">Apellidos</label>
                                    <input ng-model="vm.student.surname" required>
                                </md-input-container>
                            </div>

                        </div>

                    </div>


                    <div layout="column" flex flex="70" layout-align="center">

                        <div layout layout-sm="row">
                            <md-input-container flex>
                                <label layout="">Dirección</label>
                                <input ng-model="vm.student.address" required>
                            </md-input-container>

                        </div>

                        <div layout layout-sm="row">

                            <md-input-container flex="40">
                                <label layout="">Provincia</label>
                                <input ng-model="vm.student.province" required>
                            </md-input-container>

                            <md-input-container flex="50">
                                <label layout="">Localidad</label>
                                <input ng-model="vm.student.locality" required>
                            </md-input-container>


                        </div>


                        <div layout layout-sm="row">

                            <md-input-container flex="80">
                                <md-datepicker
                                        ng-model="vm.student.birthdate"
                                        md-placeholder="Fecha de nacimiento">
                                </md-datepicker>
                            </md-input-container>

                            <md-input-container flex="50">
                                <md-icon style="color:gray;">phone</md-icon>
                                <label layout="">Teléfono</label>
                                <input ng-model="vm.student.phone" required>
                            </md-input-container>

                        </div>


                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <md-icon style="color:gray;">email</md-icon>
                                <label layout="">Email</label>
                                <input ng-model="vm.student.email" type="email">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex="50">
                                <label layout="">Dni</label>
                                <input ng-model="vm.student.dni">
                            </md-input-container>
                        </div>


                    </div>

                </form>
                <!-- A line divisor -->
                <!-- <md-divider layout-margin></md-divider> -->

                <!-- Academic related student info section -->
                <div layout="column">

                    <div class="margin-top-medium">
                        <span flex class="md-headline" layout-margin>Docencia</span>
                        <md-divider layout-margin></md-divider>
                        </br>
                        </br>
                    </div>


                    <div ng-repeat="item in vm.studentEnrollments">

                        <span class="md-title">{{ item.class.course }}º {{ item.class.word }} {{ item.class.level }}</span>


                        <md-list class="md-dense">
                            <md-list-item class="md-3-line" ng-repeat="subject in item.subjects" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ subject.name }}</h3>
                                </div>


                                <md-menu>

                                    <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                                               ng-click="originatorEv = ev; $mdOpenMenu(ev);">
                                        <md-icon md-menu-origin>more_vert</md-icon>
                                    </md-button>

                                    <md-menu-content width="4">

                                        <md-menu-item>
                                            <md-button ng-click="">
                                                <md-icon>list</md-icon>
                                                Ver asociacion
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-item>
                                            <md-button
                                                    ng-click="vm.showDeleteStudentEnrollmentConfirm(item.subject.subjectId, class.classId)">
                                                <md-icon>delete</md-icon>
                                                Eliminar docencia
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-divider></md-menu-divider>

                                        <md-menu-item>
                                            <md-button disabled="disabled"
                                                       ng-click="vm.showDeleteTeacherImpartConfirm(item.subject.subjectId, class.classId)">
                                                <md-icon>delete</md-icon>
                                                Eliminar docencia
                                            </md-button>
                                        </md-menu-item>

                                    </md-menu-content>

                                </md-menu>


                            </md-list-item>
                        </md-list>


                    </div>


                </div>

                <!-- Button to add new project to user. -->
                <div ng-if="vm.studentEnrollments.length == 0" layout="column">
                    <span layout="row"> Oups! Parece que este estudiante aún no tiene docencia asignada.</span>
                    <span layout="row">¡Dale un poco de trabajo!</span>
                    <br>
                    <div layout="row">
                        <md-button class="md-primary md-raised" ng-click="vm.addRelation()">
                            <md-icon>add</md-icon>
                            Añadir
                        </md-button>
                    </div>
                </div>


        <div ng-if="vm.studentEnrollments.length != 0" layout="row">
            <md-button class="md-primary md-raised" ng-click="vm.addRelation()">
                <md-icon>add</md-icon>
                Añadir
            </md-button>
        </div>


        <md-divider layout-margin></md-divider>

        <div class="margin-top-large">
            <!-- Action buttons-->
            <div class="md-actions" layout="row" layout-align="end center">

                <!-- Button to save user changes -->
                <md-button class="md-primary md-raised"
                           ng-click="vm.updateStudent()">
                    <md-icon>save</md-icon>
                    Guardar
                </md-button>

                <!-- Button that delete user, with confirmation message before -->
                <md-button class="md-warn md-raised" ng-click="vm.showDeleteStudentConfirm()">
                    <md-icon>delete</md-icon>
                    Eliminar
                </md-button>


            </div>

        </div>


        </md-card>

    </div>
</div>
</div>
