<!--

 estudiantes-lista.html

Plantilla de diseños que crea la lista de los estudiantes que el controlador nos proporciona.

 -->

  <!--
  <h2>Lista de ejemplo</h2>
  <ul class="uk-list-line">
      <li ng-repeat="empleado in nuestrosEmpleados">{{ empleado }}</li>
  </ul>
  -->


  <h2>Estudiantes en el sistema.</h2>
  <!--Si no hay alumnos se muestra un mensaje -->
  <li ng-show="!alumnos.length"><p class="uk-text-muted">Aún no hay estudiantes registrados en el sistema.</p></li>
  <ul class="uk-list-line">
      <!-- Mostramos todos los alumnos cargados por el controlador, convirtiendo cada uno además
      en un enlace a la ventana propia del estudiante, además pasamos el identificador  como parámetro en la URL-->
      <li ng-repeat="alumno in alumnos">
        <!--Doc en : https://github.com/angular-ui/ui-router/wiki/Quick-Reference#ui-sref -->
        <a ui-sref="estudiantes.detalles-estudiante({ estudianteID: alumno.id })">{{ alumno.nombre }} {{alumno.apellidos}}</a>
      </li>
  </ul>
