




















<!--Importamos las librerías necesarias -->
<!-- concatenated flow.js + ng-flow libraries -->
<!--Controlador de esta vista -->
<!--<script src="ControladorNuevoEstudiante.js"></script>-->

<!--
<div flow-init="{target: '/upload'}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message">

  <input type="file" flow-btn/>
  Input OR Other element as upload button
  <span class="btn" flow-btn>Upload File</span>

  <table>
    <tr ng-repeat="file in $flow.files">
        <td>{{$index+1}}</td>
        <td>{{file.name}}</td>
        <td>{{file.msg}}</td>
    </tr>
  </table>
</div>
-->
<!-- Uso de la librería ng-flow para la subida de imágenes >

<div class="container"  flow-init
      flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
      flow-files-submitted="$flow.upload()">
  <h1>flow image example</h1>
  <hr class="soften"/>


  <div>
    <div class="thumbnail" ng-hide="$flow.files.length">
      <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
    </div>
    <div class="thumbnail" ng-show="$flow.files.length">
      <img flow-img="$flow.files[0]" />
      <h2>{{$flow.files[0].name}}</h2>
    </div>
    <div>
      <span class="uk-button" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</span>

      <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
      <a href="#" class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()"> Remove </a>

      <span class="uk-button" flow-btn>Upload File</span>

    </div>
    <p>
      Only PNG,GIF,JPG files allowed.
    </p>
  </div>
</div>  Fin de la librería flow -->








<div data-ng-controller="HomeCtrl">
  	<form name="upload" ng-submit="uploadFile()">
          <input type="text" ng-model="name" /><br>
          <input type="file" name="file" uploader-model="file" /> <br>
          <input type="submit" value="Enviar">
      </form>      
</div>


<p class="uk-h2">Registro de un nuevo estudiante </p>
<hr>

<!-- Definición del formulario de inscripción de un nuevo estudiantes -->
<!-- Usamos no validate para hacer que sea angular quien haga todo el trabajo -->

<form class="uk-form" name="formNuevoAlumno" ng-submit="submitForm()" novalidate>

    <fieldset data-uk-margin>

        <!-- Campo nombre -->
        <!--<input type="text" name="nombre" placeholder="Nombre" ng-model="alumno.nombre"  equired >-->

        <input type="text" placeholder="Nombre" name="nombre" ng-class="{ 'uk-form-danger' : formNuevoAlumno.nombre.$invalid && !formNuevoAlumno.$pristine }" ng-minlength="3"  ng-model="alumno.nombre" required>


        <!-- Campo apellidos -->
        <input type="text" placeholder="Apellidos" name="apellidos" ng-class="{ 'uk-form-danger' : formNuevoAlumno.apellidos.$invalid && formNuevoAlumno.apellidos.$dirty }" ng-model="alumno.apellidos" ng-minlength="3" required>
        <!--<input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">-->
        <p ng-show="formNuevoAlumno.apellidos.$error.minlength" class="uk-text-danger">El apellido es demasiado corto.</p>
        <!--<p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>-->


        <br class="uk-margin-bottom">
        <!-- Campo direccion -->
        <input type="text" placeholder="Dirección" ng-model="alumno.direccion" required>

        <!-- Campo localidad -->
        <input type="text" placeholder="Localidad" ng-model="alumno.localidad" required>

        <br class="uk-margin-bottom">
        <!-- Campo provincia -->
        <input type="text" placeholder="Provincia" ng-model="alumno.provincia" required>

        <!-- Campo fecha nacimiento -->
        <input type="text" placeholder="Fecha Nacimiento" ng-model="alumno.fecha_nacimiento" required>

        <br class="uk-margin-bottom">
        <!-- Campo telefono -->
        <input type="text" placeholder="Teléfono" ng-model="alumno.telefono" required>

        <!-- Campo DNI -->
        <input type="text" placeholder="DNI" ng-model="alumno.dni" required>


        <!-- Mensajes de error -->
        <p ng-show="formNuevoAlumno.nombre.$error.minlength" class="uk-text-danger"><i class="uk-icon-info-circle"></i>   El nombre es demasiado corto.</p>



        <!-- Botón de enviar
        Este botón responde a la función definida en el controlador con el nombre puesto en ng-submit, en este caso:submitForm()
        -->
        <br class="uk-margin-bottom">

        <!--Añadimos el CSS y el javascript necesarios para poder usar las notificaciones flotantes -->
        <link type="text/css" rel="stylesheet" href="app/css/components/notify.gradient.css" />
        <script type="text/javascript" src="app/js/components/notify.js"></script>

        <button type="submit" class="uk-button"  data-message="Success message..." data-status="success" ng-class="{ 'uk-button-success' : !formNuevoAlumno.$invalid }" ng-disabled="formNuevoAlumno.$invalid">Submit</button>
        <!--<script>
           $(function(){
               $("body").on("click", ".uk-button[data-message]", function(){
                  // $.UIkit.notify($(this).data());
                   $.UIkit.notify("Alumno guardado con éxito.");

               });
           })
           </script>
         -->


        <!-- <input type="submit" class="uk-button" ng-click="submitForm(alumno)" />-->
        <!-- <button class="uk-button" ng-click="addAlumno()">Enviar</button> -->
        <br class="uk-margin-top">
    </fieldset>
</form>
<style>
input.submitted.ng-invalid
{
  border:1px solid #f00;
}
</style>


{{respuesta}}
