<div flex ng-controller="subjectsProfileController as vm">


    <div layout="row" layout-align="center" ng-cloak>
        <div flex="90" layout-padding>
            <div  layout="row" layout-align="space-between start">
                <md-button class="md-primary md-raised"
                           ui-sref="subjects">
                    <md-icon>keyboard_arrow_left</md-icon>
                    Atras
                </md-button>
            </div>


            <div ng-if="vm.subject == null">
                Oups! Parece que esta asignatura no existe.
            </div>

            <md-card ng-if="vm.subject != null" layout="column" layout-margin layout-padding>


                <!-- We can see the layout like a row -->
                <div layout="row" flex flex="70" layout-align="center">


                    <!-- Second column, with user data inside. -->
                    <div flex layout="column">

                        <form name="userForm">

                            <div layout layout-sm="column">
                                <md-input-container flex="50">
                                    <label layout="">Nombre</label>
                                    <input ng-model="vm.subject.name" required>
                                </md-input-container>
                            </div>

                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label layout="">Descripción</label>
                                    <input ng-model="vm.subject.description" required>
                                </md-input-container>
                            </div>

                        </form>
                    </div>

                </div>

                <!-- A line divisor -->
                <!-- <md-divider layout-margin></md-divider> -->

                <!-- Academic related user info section -->
                <div layout="column">

                    <div class="margin-top-medium">
                        <span flex class="md-headline" layout-margin>Docencia</span>
                        <md-divider layout-margin></md-divider>
                        </br>
                        </br>
                    </div>


                    <div ng-repeat="item in vm.subjectClasses">

                        <span class="md-title">{{ item.class.course }} {{ item.class.word }} {{ item.class.level }}</span>


                        <md-list class="md-dense">
                            <md-list-item class="md-3-line" ng-repeat="teacher in item.teachers" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ teacher.name }} {{ teacher.surname }}</h3>
                                </div>


                                <md-menu>

                                    <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                                               ng-click="originatorEv = ev; $mdOpenMenu(ev);">
                                        <md-icon md-menu-origin>more_vert</md-icon>
                                    </md-button>

                                    <md-menu-content width="4">

                                        <md-menu-item>
                                            <md-button ng-click="">
                                                <md-icon>list</md-icon>
                                                Ver asociacion
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-item>
                                            <md-button
                                                    ng-click="vm.showDeleteSubjectClassImpartConfirm(item.class.classId, teacher.teacherId)">
                                                <md-icon>delete</md-icon>
                                                Eliminar docencia
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-divider></md-menu-divider>

                                        <md-menu-item>
                                            <md-button disabled="disabled"
                                                       ng-click="vm.showDeleteSubjectClassImpartConfirm(item.class.classId, teacher.teacherId)">
                                                <md-icon>delete</md-icon>
                                                Eliminar docencia
                                            </md-button>
                                        </md-menu-item>

                                    </md-menu-content>

                                </md-menu>


                            </md-list-item>
                        </md-list>


                    </div>


                </div>

                <!-- Button to add new project to user. -->
                        <div access='admin' layout="row">
                            <md-button class="md-primary md-raised" ng-click="vm.addRelation()"">
                                <md-icon>add</md-icon>
                                Añadir docencia</md-button>
                        </div>


                <md-divider layout-margin></md-divider>

                <div class="margin-top-large">
                    <!-- Action buttons-->
                    <div class="md-actions" layout="row" layout-align="end center">

                        <!-- Button to save user changes -->
                        <md-button class="md-primary md-raised"
                                   ng-click="vm.updateSubject()">
                            <md-icon>save</md-icon>
                            Guardar
                        </md-button>

                        <!-- Button that delete user, with confirmation message before -->
                        <md-button class="md-warn md-raised" ng-click="vm.showDeleteSubjectConfirm()">
                            <md-icon>delete</md-icon>
                            Eliminar
                        </md-button>


                    </div>

                </div>



            </md-card>

        </div>
    </div>

</div>