body {
  overflow: hidden;
  background-color: #AAAAAA;
}

md-whiteframe {
  background: #fff;
}

#content {
  padding: 24px;
}

.img-profile-big {
      border-radius: 100px;
      border: 1px solid #ddd;
      display: inline-block;
      margin: 4px 16px;
      vertical-align: middle;
      width: 180px;
}