<style type="text/css">
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
</style>

<h3><strong>Controles de Asistencia</strong></h3>

<!-- Historico -->

<ul class="uk-tab" data-uk-tab>
    <li> <a ui-sref="control-estudiantes.asistencia-inicio">Inicio</a></li>
    <li class="uk-active"> <a ui-sref="control-estudiantes.asistencia-historico">Historico</a></li>
    <li><a ui-sref="control-estudiantes.asistencia-nuevo">Nuevo</a></li>
    <li class="uk-disabled"> <a href="">Otros</a></li>
</ul>


<div class="uk-container-center">

  <div class="uk-margin-top uk-margin-bottom">




    <!-- Código fuente de los spinner : http://tobiasahlin.com/spinkit/ -->
    <div ng-if="hayrespuesta == false" class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>

    <div ng-if="hayrespuesta" class="uk-animation-fade">

      <p  ng-show="!resumenes.length" class="uk-text-muted">Aún no se ha realizado ningún control de asistencia.</p>

      <div ng-if="resumenes">

        <h4 class="uk-margin-bottom">Listado de controles de asistencia realizados</h4>

        <ul  class="uk-list uk-list-striped" >
            <!--Un elemento de la lista "striped" por cada resumen de la lista resumenes -->
            <li ng-repeat="resumen in resumenes">
              <a ui-sref="control-estudiantes-asistencia-visualizacion({ resumenID: resumen.key })">{{resumen.nombreAsignatura}} {{resumen.nombreClase}} {{resumen.fecha}} </a>
              <!-- ui-sref="estudiantes.detalles-estudiante({ estudianteID: alumno.id })-->
            </li>
        </ul>

      </div>

    </div>




</div>


</div>
