



<div class="uk-container">

<div class="uk-margin-top uk-margin-bottom">

<h2 style="display: inline;"><strong>Nuevo control de asistencia</strong> </h2>

<hr>

</br>

Clase: <strong>{{nombreClase}}</strong>  Asignatura: <strong>{{nombreAsignatura}}</strong> Profesor: <strong>{{ currentUser.name }}</strong>
<strong style="color: purple;">{{fecha}}</strong> {{hora}}

</br>

</br>


  <!--Lista de estudiantes, con sus respectivos botones. -->


  <li ng-show="!alumnos.length"><p class="uk-text-muted">Aún no hay estudiantes registrados en el sistema.</p></li>
  <ul class="uk-list uk-list-striped ">

      <!--Todos los iconos aparecen en verde, es decir que todo está bien, si se tocan empiezan a interactuar y a cambiar de color.
      Por ejemplo al empezar todo está en verde. Pero si alquien ha llegado tarde se pulsa sobre el botón del reloj
      y pasa a ponerse amarillo si ha faltado 10 min y lo pone al lado: 10' o si pulsamos otra vez se pone naranja y se añade al lado 15'.
      Igual con la asistencia, aparece en verde al principio pero si se le pulsa es para indicar que alguien no ha venido,
      entonces se marcan el resto de iconos en gris ('desactivados') y el nombre del alumno pasa a verse en rojo en lugar de verde
      como se veía. Además el icono que estaba verde pasa a estar rojo tb.

      También hay que ver como indicar que el retraso es justificado, como con colores.

      -->

      <!--Recorremos todos los alumnos que nos vengan del controlador-->
      <li ng-repeat="alumno in alumnos">


        <div class="uk-grid">

            <!--El nombre en la primera sección -->
            <div class="uk-width-2-3">
            <h4 style="display: inline;">{{ alumno.nombre }} {{alumno.apellidos}}  </h4>
            </div>
            <!--Los botones en la segunda -->
            <div class="uk-width-1-3">

              <div class="uk-grid">

                      <div class="uk-width-1-3">

                      <!--
                      ## Icono de Asistencia ##
                      Si el alumno tiene el campo asiste a 1 entonces se ve verde.
                      Si se pulsa en el botón de asistencia entonces se marca la asistencia de ese alumno a 0 y pasa al siguiente ng-show mostrándolo rojo. -->
                      <a ng-click="anotarAsistencia(alumno.id, 0)" ng-show="alumno.asistencia" class="uk-icon-check-square-o uk-icon-medium" style="color: green" ></a>
                      <!--Si el alumno tiene el campo asistencia a 0 se ve rojo-->
                      <a ng-click="anotarAsistencia(alumno.id, 1)" ng-show="!alumno.asistencia" class="uk-icon-check-square-o uk-icon-medium" style="color: red"></a>


                      </div>


                      <div class="uk-width-1-3">
                      <!--
                      ## Icono de retraso ##
                      Cuando el alumno no ha venido se encuentra desactivado.
                       -->
                      <!--Cuando el alumno está en clase el botón aparece-->
                      <!--<a ng-show="alumno.asistencia" class="uk-icon-clock-o uk-icon-medium " style="color: green"></a>-->

                            <div ng-show="alumno.asistencia" ng-switch on="alumno.retraso">
                               <div ng-switch-when="0"><a ng-click="anotarRetraso(alumno.id)" class="uk-icon-clock-o uk-icon-medium " style="color: green"></a></div>
                               <div ng-switch-when="10">
                                 <a ng-click="anotarRetraso(alumno.id)" class="uk-icon-clock-o uk-icon-medium " style="color: orange"></a>

                                 <a ng-click="justificarRetraso(alumno.id)" ng-show="alumno.retrasoJustificado" class="uk-icon-pencil uk-icon-medium" style="color:green"></a>
                                 <a ng-click="justificarRetraso(alumno.id)" ng-show="!alumno.retrasoJustificado" class="uk-icon-pencil uk-icon-medium" style="color:red"></a>

                               </div>
                               <div ng-switch-when="20">

                                 <a ng-click="anotarRetraso(alumno.id)" class="uk-icon-clock-o uk-icon-medium " style="color: red"></a>

                                 <a ng-click="justificarRetraso(alumno.id)" ng-show="alumno.retrasoJustificado" class="uk-icon-pencil uk-icon-medium" style="color:green"></a>
                                 <a ng-click="justificarRetraso(alumno.id)" ng-show="!alumno.retrasoJustificado" class="uk-icon-pencil uk-icon-medium" style="color:red"></a>

                               </div>
                            </div>

                            <!--Cuando el alumno ha faltado a clase el botón de retraso se desactiva porque no tiene sentido.-->
                            <i ng-show="!alumno.asistencia" style="color: grey" class="uk-icon-clock-o uk-icon-medium"></i>

                      </div>

                      <div class="uk-width-1-3">
                      <!--
                      ## Icono de UNIFORME ##
                      Cuando el alumno no ha venido se encuentra desactivado.
                       -->
                       <div ng-show="alumno.asistencia">
                       <!--Si el alumno tiene el campo uniforme a 0 se ve verde-->
                      <a  ng-click="anotarUniforme(alumno.id, 0)" ng-show="alumno.uniforme" class="uk-icon-thumbs-up uk-icon-medium" style="color: green" ></a>
                      <!--Si el alumno tiene el campo uniforme a 0 se ve rojo-->
                      <a  ng-click="anotarUniforme(alumno.id, 1)" ng-show="!alumno.uniforme" class="uk-icon-thumbs-down uk-icon-medium" style="color: red"></a>
                      </div>
                      <!--Cuando el alumno ha faltado a clase el botón de uniforme se desactiva porque no tiene sentido.-->
                      <i ng-show="!alumno.asistencia" style="color: grey" class="uk-icon-thumbs-up uk-icon-medium"></i>

                      </div>

        </div>
      </div>
    </div>

      </li>

    </ul>





  </br>
  <button data-uk-modal="{target:'#Modal'}" class="uk-button uk-button-success" type="button">Guardar</button>
  <button ui-sref="control-estudiantes.asistencia-nuevo" class="uk-button uk-button-danger" type="button">Cancelar</button>


    <!--DISEÑO DEL MODAL -->

        <!--Definición del mensaje que se muestra -->
        <div id="Modal" class="uk-modal" aria-hidden="true">
          <div class="uk-modal-dialog uk-modal-dialog">
            ¿Está seguro de que quiere enviar el control de asistencia?
            <hr>
            <!-- LA implementación de la acción asociada al botón puede estar en el script incluido abajo o
            en el propio app.js para poder usar el scope.-->
            <button id="sendButton" ng-click="enviarDatos()" class="uk-button uk-button-success">Enviar</button>
            <button id="CancelButton" class="uk-button uk-button-danger uk-modal-close " >Cancelar</button>

          </div>
        </div>

    <!--Fin DISEÑO MODAL -->

    <!--Inclusión del fichero donde se implementa la lógica en JavaScript del modal -->
    <script>
      var eventHandlerType = (UIkit.support.touch) ? 'tap' : 'click',
        modalA = UIkit.modal('#Modal', {
          bgclose: false
        });
      console.log('manejadorEventosModal: ' + eventHandlerType);
      $('#sendButton').on(eventHandlerType, function(e) {
        console.log("Modal: confirmación del envío del control de asistencia.")
        e.preventDefault();
        //Oculta el modal
        modalA.hide();
      });
    </script>






</div>




</div>
